[submodule "hellor"]
	path = hellor
	url = git@github.com:leemaret/hellor.git
[submodule "truer"]
	path = truer
	url = git@github.com:leemaret/truer.git
[submodule "echor"]
	path = echor
	url = git@github.com:leemaret/echor.git
